<div class="row">
  <% current_user.favorites.each do |favorite| %>
   <div class="col l3 m6 s6">
     <div class="card">
       <div class="card-image">
        <% if favorite.dog.image.present? %>
           <%= link_to image_tag(favorite.dog.image_url(:thumb).to_s), favorite.dog %>
           <% else %>
              <%= link_to image_tag('logo.png', size:"227x227"), favorite.dog %>
        <% end %>
       </div>
          <div class="card-content">
            <span class="card-title">
              <%= favorite.dog.name %>
            </span>
            <%= favorite.dog.gender %>
            <br>
            <%= favorite.dog.breed %>
            <br>
            <strong>Vacina  </strong>
            <%= favorite.dog.vacined %>
            <br>
            <strong>Pedigree </strong>
            <%= favorite.dog.pedigre %>
          </div>
     </div>
   </div>
      <% end %>
</div>
