<h1>Compare</h1>
<p> <%= @query %> </p>
<div class="row">
    <% @dogs.each do |dog| %>
      <div class = "col l3 m6 s12">
          <div class= "card">
            <div class= "card-image">
                <%= link_to image_tag(dog.image_url(:thumb).to_s), dog %>
               <span class="card-title">
                <%= dog.name %>
                </span>
            </div>
              <div class="card-content">
                <%= dog.gender %>
                <br>
                <%= dog.breed %>
                <br>
                <strong>Vacinado</strong>
                <%= dog.vacined %>
                <br>
                <strong>Pedigree</strong>
                <%= dog.pedigre %>
              </div>
          </div>
      </div>
    <% end %>

</div>
