<header>
  <%= render "shared/navbarTabs" %>
</header>



<%= search_form_for @Search do |f| %>
  # Search if the name field contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Breed</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= image_tag(dog.image_url(:thumb).to_s) %></td>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.user.name %></td>
        <td><%= link_to 'Show', dog %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
