

<div class="row">
    <% @dogs.each do |dog| %>
      <div class = "col l3 m6 s12">
          <div class= "card">
            <div class= "card-image">
              <% if dog.image.present? %>
                <%= link_to image_tag(dog.image_url(:thumb).to_s), dog %>
              <% else %>
                 <%= link_to image_tag('logo.png', size:"227x227"), dog%>
              <% end %>
            </div>
              <div class="card-content">
                <span class="card-title">
                  <%= dog.name %>
                </span>
                <%= dog.gender %>
                <br>
                <%= dog.breed %>
                <br>
                <strong>Vacinado</strong>
                <%= dog.vacined %>
                <br>
                <strong>Pedigree</strong>
                <%= dog.pedigre %>
              </div>
          </div>
      </div>
    <% end %>

</div>
