<header>
  <%= render "shared/navbarTabs" %>
</header>
<p id="notice"><%= notice %></p>


<h1>Dogs</h1>

<table>
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Cidade</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= image_tag(dog.image_url(:thumb).to_s) %></td>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.user.city %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Dog', new_dog_path %>
<br>
