<header>
  <%= render "shared/navbarTabs" %>
</header>
<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>



<p>
  <strong><td><%= link_to favorite_text, favorites_update_path(dog: @dog), id:'favorite_link', remote: true %> </td></strong>
</p>

<%= image_tag(@dog.image_url(:thumb).to_s) %>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Dono:</strong>
  <%= @dog.user.name %>
</p>


<% if policy(@dog).edit? %>
<%= link_to 'Show', @dog %> |
<%= link_to 'Back', dogs_path %>
<% end %>
