<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <header>

    <% if current_user.present? %>
      <%= render "shared/sidenav" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

  </header>


  <body>
    <div class="row">
     <div class="container">
       <%= yield %>
     </div>
    </div>


  </body>
</html>
