<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Change-me </title>

    <%= csrf_meta_tags %>
     <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <header>
    <% if current_user.present? %>
      <%= render "shared/sidenav" %>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>
  </header>

  <body>
    <div class="row">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
